<%= form_with(model: paranoiac) do |form| %>
  <% if paranoiac.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(paranoiac.errors.count, "error") %> prohibited this paranoiac from being saved:</h2>

      <ul>
        <% paranoiac.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :lastname, style: "display: block" %>
    <%= form.text_field :lastname %>
  </div>

  <div>
    <%= form.label :firstname, style: "display: block" %>
    <%= form.text_field :firstname %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
